nav a {
    color:black;
    font-weight: 600;
    font-size: 14px;
}
.navbar {
    margin: 0;
    padding: 0 20px;
}
.navbar-brand {
    font-size: 18px !important;
}

.navbar-nav a:hover, .navbar-nav > li:hover {
    cursor: pointer;
}


